body {
    color: #325050;
    /* background: blueviolet; */
    background: rgb(181, 180, 182);
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 100%;
  }

.sidebar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}