body {
    color: #325050;
    /* background: blueviolet; */
    background: rgb(181, 180, 182);
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
  }

  /* h1 {
      font: 20em Helvetica Neue, Helvetica, Arial, sans-serif;

  } */