{% extends 'base.html' %}

{% block content %}
    <div class="faveadded">
    {% if new_star %}
        {% if created %}
            <p>Question successfuly starred.</p>
            <br>
            <p><a href="{% url 'user-favorites' %}">Go to your starred questions. </a> </p>
        {% else %}
            <p>Question successfuly removed from favorites.</p>
            <br>
            <p><a href="{% url 'user-favorites' %}">Go to your stars. </a> </p>
        {% endif %}    
    {% endif %}
    </div>
{% endblock %}