{% extends 'base.html' %}

{% block content %}
    <div class="faveadded">
    {% if new_star %}
        {% if created %}
            <p>Question successfuly starred.</p>
            <br>
            <div><p>Back to&nbsp;<a href="{% url 'index' %}">all questions</a></p></div>
            {% else %}
            <p>Question successfuly removed from favorites.</p>
            <br>
            <div><p>Back to&nbsp;<a href="{% url 'index' %}">all questions</a></p></div>
            {% endif %}    
    {% endif %}
    </div>
{% endblock %}