{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}




{% block content %}

<h1>Question Detail - {{ question.title }}</h1>

{% if question %}

    {% if request.user == question.author %}

        <p>{{ question.ques_body }}&nbsp;&nbsp;by:&nbsp;<a href="{% url 'user-profile' user.pk %}">{{ question.author }}</a></p>
    
    {% else %}

        <p>{{ question.ques_body }}&nbsp;&nbsp;by:&nbsp;{{ question.author }}</p>
    
    {% endif %}


    <p>Added: {{ question.ques_date_added }}</p>

        {% for ans in answer %}

            <p>{{ ans.ans_body }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;submitted by:&nbsp;&nbsp;{{ans.author}}</p>
            <p>submitted at&nbsp;&nbsp;{{ans.ans_date_added}}</p>
           <p><a target="_blank" 
                class="button" 
                href="{% url 'mark-correct' ans.pk %}">Author approved.</a></p> 
        {% endfor %}


{% else %}

    <p>There are no questions in the list.</p>

{% endif %}

<a href="{% url 'add-answer' %}">Add your answer for this question.</a>

<hr>


<a href="{% url 'favorites' question.pk %}"><button>Star this question</button></a>
<hr>

<div><p>Back to&nbsp;<a href="{% url 'index' %}">all questions</a></p></div>






{% endblock %}