{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}




{% block content %}

<h1>Question Detail - {{ question.title }}</h1>

{% if question %}

    {% if request.user == question.author %}

        <p>{{ question.ques_body }}&nbsp;&nbsp;by:&nbsp;<a href="{% url 'user-profile' user.pk %}">{{ question.author }}</a></p>
    
    {% else %}

        <p>{{ question.ques_body }}&nbsp;&nbsp;by:&nbsp;{{ question.author }}</p>
    
    {% endif %}


    <p>Added: {{ question.ques_date_added }}</p>

        

        <div class="row white">
                <div class="columns large-12">
                    <div id="talk">
                        {% for answer in answers %}
                            <div>
                                <strong>{{ answer.text }}</strong> -
                                <em>{{ answer.author }}</em> -
                                <span>{{ answer.ans_date_added }}</span>
                                <a id='delete-answer-{{answer.id}}'></a>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        {% for ans in answer %}

                                
                            <p><a target="_blank" 
                                    class="button" 
                                    href="{% url 'mark-correct' ans.pk %}">Author approved.</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="red" href="{% url 'delete-answer' pk=ans.pk %}">Delete Answer</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>


{% else %}

    <p>There are no questions in the list.</p>

{% endif %}

<hr>

<h2>Add an answer</h2>
<form id='answer-form' action='' method='post'>
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <button id='answer-button' class="f6 link dim ph3 pv2 mb2 dib white bg-dark-green">Submit</button>
</form>

<!-- <a href="{% url 'add-answer' %}">Add your answer for this question.</a> -->

<hr>


<a href="{% url 'favorites' question.pk %}"><button>Star this question</button></a>
<hr>

<div><p>Back to&nbsp;<a href="{% url 'index' %}">all questions</a></p></div>






{% endblock %}