{% extends "base.html" %}

{% block content %}



<h1>Question Detail - {{ question.title }}</h1>

{% if question %}

        <p>{{ question.ques_body }}&nbsp;&nbsp;by:&nbsp;{{ question.author }}</p>

        <p>Added: {{ question.ques_date_added }}</p>

            {% for ans in answer %}

                <p>{{ ans.ans_body }}</p>

            {% endfor %}


    {% else %}

        <p>There are no questions in the list.</p>





{% endif %}       

<div><p>Back to&nbsp;<a href="{% url 'index' %}">all questions</a></p></div>





{% endblock %}