{% extends "base.html" %}

{% block content %}

<!-- <p><h1>User Profile&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;{{ question.author }}</h1></p> -->
<h1>User Profile</h1>

<h3>All Questions</h3>


{% for question in question_list %}


        <div style="margin-top:20px">
    
    
        <p><a href="{% url 'question-detail' question.pk %}">{{ question.title }}</a><a href=""></a>&nbsp;&nbsp;||&nbsp;&nbsp;<a class="red" href="{% url 'delete-question' pk=question.pk %}">Delete</a></p>

        
        <p>{{ question.ques_body }}</p>

        <p>{{ question.author }}</p>

        <p>{{ question.ques_date_added }}</p>


{% endfor %}

</div>

<hr>

<div><p>Back to&nbsp;<a href="{% url 'index' %}">all questions</a></p></div>


{% endblock %}
