<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Question Box</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add additional CSS in static file -->
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
        <script src="{% static 'main.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

      </head>
      <body>
          <nav class="pa3 pa4-ns avenir">
              <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="#" title="Home">Question Box</a>
              <div class="tc pb3">
                <a class="link dim gray f6 f5-ns dib mr3" href="{% url 'index' %}" title="Home">Home</a>
                {% if user.is_authenticated %}
                <a class="link dim gray f6 f5-ns dib mr3" href="{% url 'auth_logout'%}?next={{request.path}}" title="Logout">Logout</a>
                {% else %}
                <a class="link dim gray f6 f5-ns dib mr3" href="{% url 'auth_login'%}?next={{request.path}}" title="Store">Login</a>
               {% endif %}
                <a class="link dim gray f6 f5-ns dib" href="#" title="Contact">Contact</a>
              </div>
            </nav>
    
            {% block sidebar %}
              
            {% endblock %}
            <div class="ml5 avenir f5-ns">{% block content %}{% endblock %}</div>
          </div>
        </div>
      </body>
      </html>
    </head>
</html>