<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Question Box</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add additional CSS in static file -->
        {% load static %}
        <script src="{% static 'main.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'main.css' %}">

      </head>
      <body>
        <h1> Got a question? Get an answer!</h1>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2">
            {% block sidebar %}
              <ul class="sidebar-nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <!-- <li><a href="">All questions</a></li>
                <li><a href="">All answers</a></li> -->
                {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'auth_logout'%}?next={{request.path}}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'auth_login'%}?next={{request.path}}">Login</a></li>
                {% endif %}
              </ul>
           {% endblock %}
            </div>
            <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
          </div>
        </div>
      </body>
      </html>
    </head>
</html>